@import './vars.css';

body, html {
  font-family: system-ui;
  margin: 0;
  background: hsl(0,0%,3%);
  min-height: 100vh;
}

header {
  min-height: 100vh;
  color: hsl(0,0%,15%);

  & .title {
    width: 66vw;
    font-weight: lighter;
    font-size: 7vh;

    & span.spacer {
      color: hsl(0,0%,5%);
      font-size: 2em;
    }
  }

  & nav {
    width: 200px;
  }
}