header {
  min-height: 100vh;
  color: hsl(0,0%,20%);

  & .title {
    width: 80vw;
    font-weight: lighter;
    font-size: 7vh;
    text-transform: uppercase;

    & span.spacer {
      color: hsl(0,0%,5%);
      font-size: 2em;
    }
  }
}