extends ../../layouts/page

append config
  - var pageTitle = 'Views'

block content
  header(grid='rows' vertically-aligned='center' horizontally-aligned='center')
    .title(grid vertically-aligned='center' horizontally-distributed='around')
      span Ready 4 hackin
