extends ../../layouts/page

append config
  - var pageTitle = 'About Page'

block content
  header(grid='rows' vertically-aligned='center' horizontally-aligned='center')
    p Ready for hackin
    nav
      +link({
        text: 'Home',
        url:  '/'
      })
      +link({
        text: 'About',
        url:  '/about/'
      })
