extends layouts/page

block content
  header(grid='rows' vertically-aligned='center' horizontally-aligned='center')
    include svg/bolt
    .title(grid vertically-aligned='center' horizontally-distributed='around')
      span Jade
      span.spacer |
      span CSSNext
      span.spacer |
      span Babel
