extends layouts/page

append config
  - var current = 'about'

block content
  nav(grid vertically-aligned='center' horizontally-distributed='around')
    +link({
      text: 'Home'
    , url:  '/home.html'
    })
    +link({
      text: 'About'
    , url:  '/about.html'
    })
