extends ../layouts/page

block content
  header(grid='rows' vertically-aligned='center' horizontally-aligned='center')
    include ../svg/hexagon
    .title(grid vertically-aligned='center' horizontally-distributed='around')
      +link({
        text: 'Jade',
        url:  '/views/'
      })

      span.spacer |

      +link({
        text: 'CSSNext',
        url:  '/styles/'
      })

      span.spacer |

      +link({
        text: 'Babel',
        url:  '/js/'
      })

    .subtitle
      | Example build time data: #{htmlWebpackPlugin.options.DATA.user.name}
