@import '../settings/vars.css';

header {
  min-height: 100vh;
  color: var(--dark-grey);

  & .title {
    width: 80vw;
    font-weight: lighter;
    font-size: 7vh;
    text-transform: uppercase;

    & > a:not(:hover) {
      text-decoration: none;
    }

    & span.spacer {
      color: var(--darker-grey);
      font-size: 2em;
    }
  }

  & .subtitle {
    font-weight: lighter;
  }
}