svg.hexagon-logo(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='-10 -10 320 320' xml:space='preserve')
  polygon(points='300,150 225,280 75,280 0,150 75,20 225,20')
