include ../mixins/link
include ../mixins/og-meta
include ../mixins/twitter-meta

block config
  - var pageTitle = 'Jade | CSSNext | Babel'

doctype html
html
  include ../partials/head

  block title
    title= pageTitle

  link(rel='preload' href='/css/common.bundle.css' as='style')
  link(rel='preload' href='/js/common.bundle.js' as='script')

  link(rel='stylesheet' href='/css/common.bundle.css')
  link(rel='stylesheet' href='/css/#{htmlWebpackPlugin.options.page}.css')

  body
    block content

    script(src='/js/common.bundle.js' defer)
    script(src='/js/#{htmlWebpackPlugin.options.page}.js' defer)
