include ../mixins/link
include ../mixins/og-meta
include ../mixins/twitter-meta

block config
  - var pageTitle = 'Jade | CSSNext | Babel'

doctype html
html
  include ../partials/head

  block title
    title= pageTitle

  link(rel='preload' href='/common.bundle.css' as='style')
  link(rel='preload' href='/common.bundle.js' as='script')

  link(rel='stylesheet' href='/common.bundle.css')
  if htmlWebpackPlugin.options.page
    link(rel='stylesheet' href='/#{htmlWebpackPlugin.options.page}.css')

  body
    block content

    script(src='/common.bundle.js' defer)
    script(src='index.js' defer)
